-- ============================================
-- CAKENKITCHEN DATABASE - COMPLETE SCHEMA
-- ============================================

-- Create database
CREATE DATABASE IF NOT EXISTS cakenk;
USE cakenk;

-- ============================================
-- 1. USERS TABLE
-- ============================================
CREATE TABLE users (
    user_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    phone VARCHAR(15) UNIQUE NOT NULL,
    password_hash VARCHAR(255) NOT NULL,
    role ENUM('customer', 'admin') DEFAULT 'customer',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

-- ============================================
-- 2. CATEGORIES TABLE
-- ============================================
CREATE TABLE categories (
    cat_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50) UNIQUE NOT NULL,
    description TEXT,
    image_url VARCHAR(255),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- ============================================
-- 3. CAKES TABLE
-- ============================================
CREATE TABLE cakes (
    cake_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    description TEXT,
    base_price DECIMAL(10,2) NOT NULL,
    cat_id INT NOT NULL,
    image_url VARCHAR(255),
    is_available BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (cat_id) REFERENCES categories(cat_id) ON DELETE CASCADE
);

-- ============================================
-- 4. CART TABLE
-- ============================================
CREATE TABLE cart (
    cart_id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT NOT NULL,
    cake_id INT NOT NULL,
    qty INT NOT NULL DEFAULT 1,
    weight_lbs INT NOT NULL DEFAULT 1,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE,
    FOREIGN KEY (cake_id) REFERENCES cakes(cake_id) ON DELETE CASCADE,
    UNIQUE KEY unique_cart_item (user_id, cake_id, weight_lbs)
);

-- ============================================
-- 5. ORDERS TABLE
-- ============================================
CREATE TABLE orders (
    order_id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT NOT NULL,
    status ENUM('pending', 'preparing', 'ready', 'delivered', 'cancelled') DEFAULT 'pending',
    total DECIMAL(10,2) NOT NULL,
    delivery_date DATE NOT NULL,
    delivery_address VARCHAR(255) NOT NULL,
    delivery_time VARCHAR(20) NOT NULL,
    notes TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users(user_id) ON DELETE CASCADE
);

-- ============================================
-- 6. ORDER ITEMS TABLE
-- ============================================
CREATE TABLE order_items (
    item_id INT AUTO_INCREMENT PRIMARY KEY,
    order_id INT NOT NULL,
    cake_id INT NOT NULL,
    qty INT NOT NULL,
    weight_lbs INT NOT NULL,
    purchase_price DECIMAL(10,2) NOT NULL,
    subtotal DECIMAL(10,2) NOT NULL,
    FOREIGN KEY (order_id) REFERENCES orders(order_id) ON DELETE CASCADE,
    FOREIGN KEY (cake_id) REFERENCES cakes(cake_id) ON DELETE CASCADE
);

-- ============================================
-- SAMPLE DATA
-- ============================================

-- Admin User (password: admin123)
INSERT INTO users (name, email, phone, password_hash, role) VALUES
('Admin', 'admin@cakenk.com', '9800000001', '$2b$10$hashed_password_here', 'admin');

-- Categories
INSERT INTO categories (name, description) VALUES
('Chocolate', 'Rich chocolate cakes'),
('Fruit', 'Fresh fruit cakes'),
('Cream', 'Creamy icing cakes'),
('Special', 'Special occasion cakes');

-- Cakes
INSERT INTO cakes (name, description, base_price, cat_id) VALUES
('Chocolate Fudge', 'Rich chocolate with ganache', 600, 1),
('Black Forest', 'Classic with cherries', 700, 1),
('Strawberry Delight', 'Fresh strawberries', 550, 2),
('Vanilla Buttercream', 'Smooth vanilla', 450, 3),
('Red Velvet', 'With cream cheese', 650, 3),
('Birthday Special', 'Custom birthday cake', 750, 4);

-- Sample Customer (password: customer123)
INSERT INTO users (name, email, phone, password_hash, role) VALUES
('John Doe', 'john@example.com', '9841234567', '$2b$10$hashed_password_here', 'customer');

-- ============================================
-- DONE!
-- ============================================
SELECT '✅ Database setup complete!' AS Status;